# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Test coverage
coverage/
.nyc_output/